*{
	margin: 0px;
}
#back{
	background-color: grey;
	width: cover;
	height: 750px;
	padding-top: 60px;
	box-sizing: border-box;
	position: relative;
}
#middle{
	width: 60%;
	height: 500px;
	margin: auto;
	box-sizing: border-box;
	background-color: white;
}
#left{
	width: 50%;
	height: 500px;
	box-sizing: border-box;
	float: left;
	background-color: lightgrey;
}
#right{
	width: 50%;
	height: 500px;
	box-sizing: border-box;
	float: right;
}
#plus{
	position: relative;
	top: 60px;
	left: 620px;
	font-size: 20px;
	font-family: verdana;
	letter-spacing: -2px;
}
#sync, #sync2{
	position: absolute;
	top: 418px;
	left: 640px;
	cursor: pointer;
}
#hold,#hold2{
	position: absolute;
	top: 490px;
	left: 650px;
}
#image{
	width: 5%;
	position: absolute;
	left: 650px;
	top: 250px;
	box-shadow: 1px 1px 1px 1px;
	/*display: none;*/
}
#img{
	width: 100%;
	}
#box1{
	width: 25%;
	height: 80px;
	box-sizing: border-box;
	background-color: red;
	margin: auto;
	margin-top: 120px;
	z-index: -100;
}
#box2{
	width: 25%;
	height: 80px;
	box-sizing: border-box;
	background-color: red;
	margin: auto;
	margin-top: 120px;
}
#player1, #player2{
	color: red;
	font-size: 40px;
	box-sizing: border-box;
	padding-top: 100px;
	text-align: center;
	font-weight: lighter;

}
#num1, #num2{
	color: red;
	font-size: 40px;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
	font-weight: lighter;
}
#cur1, #cur2{
	color: black;
	text-align: center;
	padding-top: 5px;
	font-size: 16px;
}
#sco1, #sco2{
	padding-top: 0px;
	color: white;
	text-align: center;
	font-size: 24px;
	font-weight: lighter;
}

.clearfix{
	clear: both;
}